<div class=" bg-gray-900 p-8 rounded-lg shadow-lg text-blue-400 w-full">
    <div class="flex justify-between">
      <div class="text-blue-400 text-lg m-2">Supplier Form</div>
  
      <div class="flex justify-end">
        <!-- Add Supplier Form Button -->
        <!-- <div>
          <button (click)="addSupplierForm()"
            class="p-2 flex w-8 h-8 justify-center items-center bg-yellow-300 m-2 rounded-full text-lg font-thin text-white">+</button>
        </div> -->
  
        <!-- Reset Button-->
        <!-- <div>
          <button (click)="reset()"
            class="px-3 py-2 flex justify-center items-center bg-green-400 m-2 rounded-sm text-lg font-thin text-white">Reset</button>
        </div> -->
      </div>
    </div>  

    <!-- <form [formGroup] = "containerForms">

    </form> -->
</div>    
  
