<div class="flex bg-white">
    <section class="m-8 w-full">
        <div class="text-[4rem] text-blue-950 font-bold">Stock</div>

        <!-- Table -->
        <div class=" shadow-lg mt-10">
            <table mat-table [dataSource]="ELEMENT_DATA" class="mat-elevation-z8 w-full">

                <!-- Company ID Column -->
                <ng-container matColumnDef="companyId">
                    <th mat-header-cell *matHeaderCellDef class="text-left min-w-[150px] text-blue-900 bg-slate-100"> Company ID </th>
                    <td mat-cell *matCellDef="let element" class="text-left text-blue-800"> {{element.companyId}} </td>
                </ng-container>

                <!-- Identifier Column -->
                <ng-container matColumnDef="identifier">
                    <th mat-header-cell *matHeaderCellDef class="text-left min-w-[150px] text-blue-900 bg-slate-100"> Identifier </th>
                    <td mat-cell *matCellDef="let element" class="text-left text-blue-800"> {{element.identifier}} </td>
                </ng-container>

                <!-- Short Code Column -->
                <ng-container matColumnDef="companyShortCode">
                    <th mat-header-cell *matHeaderCellDef class="text-left min-w-[150px] text-blue-900 bg-slate-100"> Short Code </th>
                    <td mat-cell *matCellDef="let element" class="text-left text-blue-800"> {{element.companyShortCode}} </td>
                </ng-container>

                <!-- Status Column -->
                <ng-container matColumnDef="statusId">
                    <th mat-header-cell *matHeaderCellDef class="text-left min-w-[150px] text-blue-900 bg-slate-100"> Status </th>
                    <td mat-cell *matCellDef="let element" class="text-left text-blue-800"> {{element.statusId}} </td>
                </ng-container>

                <!-- Start Date Column -->
                <ng-container matColumnDef="startDateLocal">
                    <th mat-header-cell *matHeaderCellDef class="text-left min-w-[150px] text-blue-900 bg-slate-100"> Start Date </th>
                    <td mat-cell *matCellDef="let element" class="text-left text-blue-800"> {{element.startDateLocal | date}} </td>
                </ng-container>

                <!-- Actions Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef class="text-left min-w-[150px] text-blue-900 bg-slate-100"> Actions </th>
                    <td mat-cell *matCellDef="let element" class="text-left">
                        <mat-icon [routerLink]="['stock-execution', element.id]" class="cursor-pointer">visibility</mat-icon>
                        <mat-icon class="cursor-pointer">delete</mat-icon>
                        <mat-icon class="cursor-pointer">edit</mat-icon>
                    </td>
                </ng-container>

                <!-- Table Header Row -->
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

                <!-- Table Data Rows -->
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>

        <!-- No Data Template -->
        <ng-template #noDataTemplate>
            <div class="text-center py-8 text-xl text-gray-500">
                <p>No data available...</p>
            </div>
        </ng-template>
    </section>
</div>
