.mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
    flex-grow: 1;
    padding: 10px !important;
    font-size: large !important;
}

.mat-mdc-table .mat-mdc-header-cell {
    font-size: large;
    padding: 2px;
    background: inherit;
    margin-left: 3px;
}

.mat-mdc-cell{
   font-size: medium;
}