<div class="p-6 m-6 space-y-8 shadow-xl border-orange-300 bg-orange-100 rounded-xl w-full">
  <div class="flex justify-end text-white font-bold text-xl" (click)="dialogRef.close()">
    x
  </div>
  <div class="flex justify-between">
    <div class="text-orange-600 text-lg m-2">Supplier Form</div>

    <div class="flex justify-end" *ngIf="!assignContainerForm">
      <!-- Add Supplier Form Button -->
      <div>
        <button (click)="addSupplierForm()"
                class="p-2 flex w-8 h-8 justify-center items-center bg-orange-600 m-2 rounded-full text-lg font-thin text-white">
          <mat-icon>add</mat-icon> <!-- Properly closing the mat-icon tag -->
        </button>
      </div>
      

      <!-- Reset Button-->
      <div>
        <button (click)="reset()"
          class="px-3 py-2 flex justify-center items-center bg-green-500 m-2 rounded-sm text-lg font-thin text-white">Reset</button>
      </div>
    </div>

  </div>
  <div *ngIf="formErrorMessages.length > 0" class="error-messages">
    <div *ngFor="let message of formErrorMessages" class="alert alert-danger">
      {{ message }}
    </div>
  </div>
  <form [formGroup]="supplierForms">
    <div formArrayName="suppliers">
      <!-- Loop through each supplier form in the FormArray -->
      <div *ngFor="let supplier of suppliers.controls; let i = index" [formGroupName]="i">
        <div class="flex justify-center">
          <!-- <div class="flex justify-center m-2 ">
            <h3 class="text-md font-semibold mb-4 text-green-500">Supplier {{ i + 1 }}</h3>
          </div> -->

          <div class="ml-4">
            <label [attr.for]="'supplierNo-'+ i" class="text-sm p-2 m-2 font-thin">Supplier Ref Id:</label>
            <input [attr.id]="'supplierNo-'+ i" type="text" formControlName="supplierNo"
              style="text-transform: uppercase;"
              class=" p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 ml-2 outline-none focus:border-green-400" />
            <div *ngIf="supplier.controls.supplierNo?.errors?.['pattern']" class="text-red-500">Only AlphaNumberic
              allowed
            </div>
          </div>

          <div class="">
            <label [attr.for]="'LeasePackage-'+ i" class="text-sm p-2 m-2 font-thin">Lease Package</label>
            <input [attr.id]="'LeasePackage-'+ i" type="text" formControlName="packageName"
              style="text-transform: uppercase;"
              class=" p-2 m-2 bg-white text-orange-600 border-b-2 px-3 py-2 border-blue-400 outline-none focus:border-green-400" />
            <div *ngIf="supplier.controls.packageName?.errors?.['pattern']" class="text-red-500">Only Alphabets allowed
            </div>
          </div>

          <div class="">
            <label [attr.for]="'releasePort-'+ i" class="text-sm p-2 m-2 font-thin">Release Port:</label>
            <input [attr.id]="'releasePort-'+ i" type="text" formControlName="releasePort"
              style="text-transform: uppercase;"
              class="p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 outline-none focus:border-green-400"
              [ngClass]="{ 'border-red-500': getSupplierControl(i, 'releasePort')?.hasError('invalidPort') }" />
            <div *ngIf="getSupplierControl(i, 'releasePort')?.hasError('invalidPort')" class="text-red-500">
              Invalid Port
            </div>
            <div *ngIf="supplier.controls.releasePort?.errors?.['pattern']" class="text-red-500">Only Alphabets allowed
            </div>
          </div>

          <div class="">
            <label [attr.for]="'returnPort-'+ i" class="text-sm p-2 m-2 font-thin">Return Port:</label>
            <input [attr.id]="'returnPort-'+ i" type="text" formControlName="returnPort"
              style="text-transform: uppercase;"
              class="p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 outline-none focus:border-green-400"
              [ngClass]="{ 'border-red-500': getSupplierControl(i, 'returnPort')?.hasError('invalidPort') }" />
            <div *ngIf="getSupplierControl(i, 'returnPort')?.hasError('invalidPort')" class="text-red-500">
              Invalid Port
            </div>
            <div *ngIf="supplier.controls.returnPort?.errors?.['pattern']" class="text-red-500">Only Alphabets allowed
            </div>
          </div>

          <div>
            <div class="">
              <label [attr.for]="'quantity-'+ i" class="text-sm p-2 m-2 font-thin">Quantity:</label>
              <input [attr.id]="'quantity-'+ i" type="text" formControlName="quantity" step="1" min="0"
                oninput="this.value = this.value.replace(/[^0-9]/g, '')"
                class=" p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 outline-none focus:border-green-400" />
            </div>

            <!-- Show error message only if there's a mismatch for this specific field -->
            <div *ngIf="supplier?.errors?.['quantityMismatch']" class="text-red-500">
              {{ supplier?.errors?.['quantityMismatch'] }}
            </div>
          </div>

          <div class="">
            <label [attr.for]="'product-'+ i" class="text-sm p-2 m-2 font-thin">Product:</label>
            <select
              class=" p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 outline-none focus:border-green-400"
              formControlName="product">
              <option *ngFor="let product of productQuantityArray" [value]="product.productName">{{product.productName}}
              </option>
            </select>
          </div>

          <!-- your-component.component.html -->
          <div class="m-1"> <!-- Margin bottom for spacing -->
            <label [attr.for]="'product-'+ i" class="text-sm p-2 m-2 font-thin">Start Date: </label>
            <mat-form-field class="w-50% h-10%"> <!-- Reduced width -->
              <!-- <mat-label class="block text-sm p-2 font-thin">Start Date:</mat-label> -->
              <input matInput [matDatepicker]="startPicker" formControlName="startDate"
                [matDatepickerFilter]="startDateFilter">
              <mat-datepicker-toggle matIconSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="m-1"> <!-- Margin bottom for spacing -->
            <label [attr.for]="'product-'+ i" class="text-sm p-2 m-2 font-thin">End Date: </label>
            <mat-form-field class="w-50% h-10%"> <!-- Reduced width -->
              <!-- <mat-label class="block text-sm p-2 font-thin">End Date:</mat-label> -->
              <input matInput [matDatepicker]="endPicker" formControlName="endDate"
                [matDatepickerFilter]="endDateFilter">
              <mat-datepicker-toggle matIconSuffix [for]="endPicker"></mat-datepicker-toggle>
              <mat-datepicker #endPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <!-- Remove Supplier Button -->
          <div class="flex justify-end" *ngIf="!assignContainerForm">
            <button type="button" (click)="removeSupplierForm(i)"
              class="bg-red-500 text-gray-200 rounded-full p-2 m-2 w-8 h-8 text-lg flex justify-center items-center font-bold hover:bg-red-400">-</button>
          </div>
        </div>

        <!-- Loop through and show containers for this supplier -->
        <div formArrayName="containers">
          <div *ngFor="let container of supplier.controls.containers.controls; let j = index" [formGroupName]="j">
            <div class="flex justify-center">
              <div class="m-2">
                <label [attr.for]="'containerNo-' + j" class="text-sm p-2 m-2 font-thin">Supplier ID:</label>
                <input [attr.id]="'containerNo-' + j" type="text" formControlName="sid"
                  style="text-transform: uppercase;"
                  class="p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 outline-none focus:border-green-400" />
              </div>
              <div class="m-2">
                <label [attr.for]="'containerNo-' + j" class="text-sm p-2 m-2 font-thin">Container ID:</label>
                <input [attr.id]="'containerNo-' + j" type="text" formControlName="containerId"
                  style="text-transform: uppercase;"
                  class="p-2 m-2 bg-white text-orange-600 border-b-2 border-blue-400 outline-none focus:border-green-400" />
              </div>
            </div>
          </div>
        </div>

        <!-- Remove Supplier Button -->
        <!-- <div class="flex justify-end" *ngIf="!assignContainerForm">
          <button type="button" (click)="removeSupplierForm(i)"
            class="bg-red-500 text-gray-200 rounded-full p-2 m-2 w-8 h-8 text-lg flex justify-center items-center font-bold hover:bg-red-400">-</button>
        </div> -->

      </div>
    </div>
  </form>
  <!-- Submit Button -->
  <div class="flex justify-center items-center">
    <button type="submit" (click)="onSubmit()"
      class="w-20 p-3 mt-4 text-gray-900 bg-orange-600 rounded-md font-thin hover:bg-orange-400 disabled:bg-orange-200 disabled:cursor-not-allowed"
      [disabled]="supplierForms.invalid">Submit</button>
  </div>
</div>